/* Write your CSS here */
* {
  margin: 0px;
}

.app-container {
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.heading {
  font-size: 20px;
  color: #a35200;
  margin-bottom: 10px;
}

.button {
  background-color: #f9d423;
  color: #a35200;
  border-style: none;
  border-radius: 3px;
  padding: 7px;
  font-weight: 600;
  margin: 10px;
  margin-bottom: 30px;
}

.heads-tails-text {
  font-weight: 500;
}

.coin-image {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.score-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
